<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voted Student</title>
</head>
<body>
    <form action="" method="post">
        <table align="center" border="1">
            <tr>
                <td>SL NO</td>
                <td>STUDENT NAME</td>
                <td>PHOTO</td>
                <td>DEPARTMENT</td>
                <td>COURSE</td>
                <td>YEAR</td>
            </tr>
            {% for i in data %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{i.polling_student.student_name}}</td>
                <td><img src="{{i.polling_student.student_photo.url}}" width="150" height="150"></td>
                <td>{{i.polling_student.student_course.department.department_name}}</td>
                <td>{{i.polling_student.student_course.course_name}}</td>
                <td>{{i.polling_student.student_year.year_classyear}}</td>
            </tr>
            {% endfor%}
        </table>
    </form>
</body>
</html>