<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Class Voting</title>
</head>
<body>
    <form action="" method="post">
        <table align="center" border="1">
            <tr>
                <td>SL NO</td>
                <td>CANDIDATE NAME</td>
                <td>ACTION</td>
            </tr>
            {% for i in data %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{i.candidate_student.student_name}}</td>
                <td><a href="{% url 'Student:vote' i.id %}">Vote</a></td>
            </tr>
            {% endfor%}
        </table>
    </form>
</body>
</html>