<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2 align="center" style="color: darkgoldenrod;">College Union</h2>
    <table border="1" align="center">
        <tr>
            <td>Chair Person</td>
            <td>{{ chairperson_winner_name }}</td>
        </tr>
        <tr>
            <td>Vice-ChairPerson</td>
            <td>{{ vchairperson_winner_name }}</td>
        </tr>
        <tr>
            <td>General Secretary</td>
            <td>{{ general_winner_name }}</td>
        </tr>
        <tr>
            <td>Arts Club Secretary</td>
            <td>{{ arts_winner_name }}</td>
        </tr>
        <tr>
            <td>1st year Representative</td>
            <td>{{ first_winner_name}}</td>
        </tr>
        <tr>
            <td>2nd year Representative</td>
            <td>{{ sec_winner_name }}</td>
        </tr>
        <tr>
            <td>3rd year Representative</td>
            <td>{{ third_winner_name }}</td>
        </tr>
        <tr>
            <td>Magazine Editor</td>
            <td>{{ editor_winner_name }}</td>
        </tr>
        <tr>
            <td>Lady Representative</td>
            <td>{{ lady_winner_name }}</td>
        </tr>
        <tr>
            <td>Councillor to the University Union</td>
            <td>{{ union_winner_name }}</td>
        </tr>
    </table>
</body>
</html>
